:root {
  --modulgruppe-it1: #f59e0b;
  --modulgruppe-it2: #d97706;
  --modulgruppe-it3: #0ea5e9;
  --modulgruppe-it4: #2563eb;
  --modulgruppe-it5: #22c55e;
  --modulgruppe-it6: #16a34a;
  --modulgruppe-pm: #ef4444;
}
